In [14]:
#1
highest_run=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat kholi',24936)]
highest_run.sort(key=lambda x: x[1],reverse=True)
print("sorting the list")
print(highest_run)

sorting the list
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat kholi', 24936)]

In [35]:
#2
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#3 
l2=[1,2,3,4,5,6,7,8,9,10]
result=tuple(map(lambda x: str(x), l2))
print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:

4# 
from functools import reduce
squares=range(1,26)
result=reduce(lambda x,y : x*y,squares)
print(result)

15511210043330985984000000

In [21]:
#5
number=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x : x%2==0 and x%3==0,number))

[6, 60, 90, 120]

In [25]:
#6
strings = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x==x[::-1],strings))

['php', 'aba', 'radar', 'level']